<div id="booksData" >
    <form [formGroup]="userDetails" (submit)="editUserDetails(Image)"  class="form-inline" >
          <div class=col-md-4>
              <div class="form-group">
                  <label for="FirstName">First Name</label>
                  <input type="text"  class="form-control" formControlName="FirstName" />
                </div>
          </div>
          <div class="col-md-4"> 
              <div class="formGroup"> 
                <input type="file" #Image accept="image/*" (change)="uploadImage($event.target.files)" id=image>
                <img [src]="url" height="100" > <br/>
                </div>
          </div>
          <div class=col-md-5>
              <div class="form-group">
                  <label for="MiddleName">Middle Name</label>
                  <input type="text" class="form-control" formControlName="MiddleName" />
                </div>
          </div>
          <div class=col-md-7>
              <div class="form-group">
                  <label for="LastName">Last Name </label>
                  <input type="text"  class="form-control" formControlName="LastName" />
                </div>
          </div>
          <div class=col-md-5>
            <div class="form-group">
                <label for="UserName">User Name</label>
                <input type="text" class="form-control" formControlName="UserName" />
              </div>
        </div>
        <div class=col-md-7>
            <div class="form-group">
                <label for="DateOfBirth">Date Of Birth</label>
                <input type="date"  class="form-control" placeholder="yyyy-mm-dd" formControlName="DateOfBirth" />
              </div>
        </div>
        <div class=col-md-7>
          <div class="form-group">
              <label for="Email">Email </label>
              <input type="text"  class="form-control" formControlName="Email" />
            </div>
      </div>
      <div class=col-md-5>
        <div class="form-group">
            <label for="RoleType">Role Type</label>
            <input type="text" class="form-control" formControlName="RoleType" />
          </div>
    </div>
    <div class=col-md-7>
        <div class="form-group">
            <label for="PhoneNumber">Phone Number</label>
            <input type="text"  class="form-control" formControlName="PhoneNumber" />
          </div>
    </div>
    <div class=col-md-7>
        <div class="form-group">
            <label for="Gender">Gender</label>
            <input type="text"  class="form-control" formControlName="Gender" />
          </div>
    </div>
          <div class=col-md-3>
              <button  mat-raised-button color="warn" tabIndex="-1" style="margin: 10px;" (click)='onCancel()'>cancel</button >
              <button  mat-raised-button color="primary">Update</button >
          </div>
    </form>
</div>